commands:
  01_remove_localtime:
    command: sudo rm -rf /etc/localtime
  02_change_clock:
    command: sudo sed -i 's/\"UTC\"/\"Asia\/Seoul\"/g' /etc/sysconfig/clock
  02a_change_clock:
    command: sudo sed -i 's/UTC\=true/UTC\=false/g' /etc/sysconfig/clock
  03_link_singapore_timezone:
    command: sudo ln -f -s /usr/share/zoneinfo/Asia/Seoul /etc/localtime