spring:
  datasource:
    url: jdbc:mysql://localhost:3306/anna_dev?characterEncoding=UTF-8&serverTimezone=Asia/Seoul&zeroDateTimeBehavior=convertToNull
    username: root
    password: admin
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: false
    properties.hibernate:
      format_sql: false
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl

--- # develop
spring:
  config:
    activate:
      on-profile: "develop"
  datasource:
    url: jdbc:mysql://localhost:3306/anna_database_test?characterEncoding=UTF-8&serverTimezone=Asia/Seoul&zeroDateTimeBehavior=convertToNull
    username: root
    password: admin
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: false
    properties.hibernate:
      format_sql: false
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl

--- # initdb
spring:
  config:
    activate:
      on-profile: "initdb"
